@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: hsl(270, 75%, 25%);
    font-family: "Noto Sans";
    color: #fff;
}

a {
    color: #0ff;
}

a:hover, a:active {
    color: #0f0;
}

td, th, table {
    border: 1px solid #fff;
    text-align: center;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

#proof {
    font-family: "Source Code Pro";
    white-space: pre;
    width: calc(100% - 10px);
    background-color: hsl(270, 75%, 10%);
    padding: 5px;
}